@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");

:root {
  --title-color: #fdef9b;
  --font-color: rgb(190, 190, 190);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--font-color);
  /*color: #fdef9b;*/

  /*
;*/
}

a {
  text-decoration: none;
}

.centrator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Glassmorphism card effect */
.glassmorphism {
  backdrop-filter: blur(16px) saturate(0%);
  -webkit-backdrop-filter: blur(50px) saturate(0%);
  background-color: rgba(19, 19, 31, 0.269);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn-grad {
  background-color: var(--title-color);
  color: black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: 800;
  transition: 0.3s;
}

.btn-grad:hover {
  background-color: var(--font-color);
}

.hide {
  display: none;
}

/* Text sizes */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 0.7rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}
